{#<html>#}
{% extends 'base.html' %}
{#<head>#}
{#    <title></title>#}
{#    <meta charset="utf-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>#}
{#    <style>#}
{#        table{#}
{#            margin-bottom: 30px;#}
{#        }#}
{#    </style>#}
{#</head>#}
{#<body>#}
{#{#}
{% block content %}
<div class="container" id="printableArea">
{% if employee %}
    <center>
    <h2>Employee data</h2>
    <table border="2px">
        <thead>
        <tr>
            <th>id</th>
            <th>Employee Number</th>
            <th>Employee Name</th>
            <th>Employee Salary</th>
            <th>Employee Address</th>
        </tr>
        </thead>
        {% for i in employee %}
            <tbody>
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.eno }}</td>
                <td>{{ i.ename }}</td>
                <td>{{ i.esal }}</td>
                <td>{{ i.eaddr }}</td>
            </tr>
            </tbody>
        {% endfor %}

    </table>
{% else %}
    <h2>Data Not Available</h2>
{% endif %}
<input type="button" onclick="printDiv('printableArea')" value="print" />
</center>
</div>
<script>
    function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
</script>
{% endblock %}
{#</body>#}
{#</html>#}