<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
{#    <link href="../static/css/bootstrap.css" rel="stylesheet">#}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="../static/js/bootstrap.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <a href="{% url 'login' %}" class="btn btn-outline-secondary">LogIn</a>
                <a href="{% url 'signup' %}" class="btn btn-primary ml-2">SignUp</a>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <h1>My site</h1>
    <a href="{% url 'home' %}">Home</a>/
    {% if user.is_authenticated %}
        <a href="{% url 'secret' %}">secret page</a>/
        <a href="{% url 'secret2' %}">secret page(class based view)</a>/
        <a href="{% url 'password_change' %}">change password</a>/
        <a href="{% url 'logout' %}">LogOut</a>
        <strong> You are logged in as {{ user.username }}</strong>
    {% else %}
        <a href="{% url 'signup' %}">SignUp</a>/
        <a href="{% url 'login' %}">LogIn</a>/
    {% endif %}
    <hr>

    {#{% load bootstrap3 %}#}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>